.player-name-form {
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
}
.player-name-form input {
  width: 100%;
  border: 1px solid #000000;
  margin: 0.25rem 0 0.5rem;
  padding: 0 0.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 3px;
}
.player-name-form button {
  border: 1px solid #000;
  background: #ffffff;
  width: 10rem;
  height: 1.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  border-radius: 3px;
}
