.app-header {
  width: 15rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}
.app-body {
  width: 15rem;
  min-height: 30rem;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 3px;
}
